{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="{% static 'images/faviconc.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="tailus ui html-vite and tailwindcss 3.1 boilerplate" />
        <title>Get Started</title>

        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&amp;display=swap" rel="stylesheet" />
      <!-- <script type="module" crossorigin src="{% static 'js/management/getstarted.js' %}"></script> -->
      <link rel="stylesheet" href="{% static 'css/getstarted.css' %}">
      <style>
        /* Center the loader */
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 100px;
          height: 100px;
          margin: -76px 0 0 -76px;
          border: 5px solid #f3f3f3;
          border-radius: 50%;
          border-top: 5px solid #00a6fb;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        
        #myDiv {
          display: none;
          text-align: center;
        }
        </style>
    </head>
    <body class="min-h-screen overflow-x-hidden bg-white selection:bg-primary/10 selection:text-primary" onload="myFunction()" style="margin:0;">
        <div id="loader"class="bg-white"></div>
            <div style="display:none;" id="myDiv" class="animate-bottom">
            

                <section class="py-32 sm:pt-20 md:pt-20 lg:pt-20">
                    <div class="mx-auto px-4 sm:px-12 xl:max-w-5xl xl:px-0">
                        <div class="relative z-10 text-center md:mx-auto md:w-5/6 lg:w-4/6">
                            <h1 class="relative text-center text-4xl font-bold text-gray-900 dark:text-white sm:text-5xl md:text-6xl">Get Started <span class="opacity-80">here.</span></h1>
                            <p class="mt-6 text-gray-700 dark:text-gray-300">We'll help you find the right management plan and pricing for your accommodation.</p>
                        </div>

                        <div class="mt-12 grid gap-12 sm:mx-auto sm:max-w-lg lg:max-w-max lg:grid-cols-2">
                            <div class="relative">
                                

                                <form action="" method="post" class="relative rounded-3xl border border-gray-100 bg-white p-8 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-12">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                    <ul class="error-list">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <li>{{ field }}: {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="absolute inset-0 hidden scale-105 rounded-3xl bg-gradient-to-b from-transparent dark:block dark:to-gray-900/80"></div>
                                    <div class="relative">
                                        <h2 class="text-2xl font-bold text-gray-800 dark:text-white">What should we know ?</h2>
                                        <div class="mt-8 mb-6 space-y-4">
                                            <div>
                                                <label for="{{ form.contact_name.id_for_label }}" class="mb-2 block text-gray-600 dark:text-gray-300">Your name <span class="text-xl text-red-500 dark:text-red-400">*</span></label>
                                                {{ form.contact_name|add_class:"peer block w-full rounded-lg border border-gray-200 bg-transparent px-4 py-2 text-gray-600 transition-shadow duration-300 focus:ring-2 dark:border-gray-700" }}
                                            </div>
                                            <div>
                                                <label for="{{ form.email.id_for_label }}" class="mb-2 block text-gray-600 dark:text-gray-300">Work email <span class="text-xl text-red-500 dark:text-red-400">*</span></label>
                                                {{ form.email|add_class:"peer block w-full rounded-lg border border-gray-200 bg-transparent px-4 py-2 text-gray-600 transition-shadow duration-300 focus:ring-2 dark:border-gray-700" }}
                                            </div>
                                            <div>
                                                <label for="{{ form.phone.id_for_label }}" class="mb-2 block text-gray-600 dark:text-gray-300">Phone <span class="text-xl text-red-500 dark:text-red-400">*</span></label>
                                                {{ form.phone|add_class:"peer block w-full rounded-lg border border-gray-200 bg-transparent px-4 py-2 text-gray-600 transition-shadow duration-300 focus:ring-2 dark:border-gray-700" }}
                                            </div>
                                            <div>
                                                <label for="{{ form.hostel_name.id_for_label }}" class="mb-2 block text-gray-600 dark:text-gray-300">Hostel name <span class="text-xl text-red-500 dark:text-red-400">*</span></label>
                                                {{ form.hostel_name|add_class:"peer block w-full rounded-lg border border-gray-200 bg-transparent px-4 py-2 text-gray-600 transition-shadow duration-300 focus:ring-2 dark:border-gray-700" }}
                                            </div>
                                            <div>
                                                <label for="{{ form.message.id_for_label }}" class="mb-2 block text-gray-600 dark:text-gray-300">Message</label>
                                                {{ form.message|add_class:"peer block h-28 w-full rounded-lg border border-gray-200 bg-transparent px-4 py-2 text-gray-600 transition-shadow duration-300 focus:ring-2 dark:border-gray-700" }}
                                            </div>
                                        </div>
                                        <p class="mb-8 text-sm text-gray-600 dark:text-gray-300">By clicking submit below, you agree to the processing of your personal information by StamaPro as described in the Privacy Policy.</p>
                                        <div class="flex justify-center">
                                            <button type="submit" class="relative flex h-11 w-max items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight">
                                                <span class="relative text-base font-semibold text-white dark:text-gray-900">Get started</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div>
                                <div class="relative rounded-3xl border border-gray-100 bg-white p-8 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:px-12">
                                    <div class="absolute inset-0 hidden scale-105 rounded-3xl bg-gradient-to-b from-transparent dark:block dark:to-gray-900/80"></div>
                                    <div class="relative">
                                        <img class="h-12 w-8 dark:contrast-100 dark:grayscale dark:invert" src="{% static 'images/contactstama.png' %}" alt="stama" width="" height="" />
                                        <p class="mt-2 mb-8 text-gray-600 dark:text-gray-300">Thank you for considering StamaPro for your property management needs. I built this platform with landlords like you in mind, striving to simplify property management, one property at a time. We're here to support you every step of the way. Welcome aboard!</p>
                                        <div class="flex gap-4">
                                            <img class="h-12 w-12 rounded-full" src="{% static 'images/mex.png' %}" alt="user avatar" width="200" height="200" loading="lazy" />
                                            <div>
                                                <h2 class="leading-0 text-lg font-medium text-gray-700 dark:text-white">Adeyinka Makinde</h2>
                                                <p class="leading-0 -mt-0.5 text-sm text-gray-500 dark:text-gray-400">Founder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        

        <script>
            var myVar;
            function myFunction() {
              myVar = setTimeout(showPage, 1000);
            }
            function showPage() {
              document.getElementById("loader").style.display = "none";
              document.getElementById("myDiv").style.display = "block";
            }
            </script>
    </body>
</html>
