{% extends "base.html" %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

<div class="container">
   <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="card shadow" style="width: 30rem; background-color: #023047;">
            <div class="card-body">
                <h4 class="card-title text-center" style="color: #FB8500;">Sign Up for STAMA</h2>
                <form method="POST" style="color: #ffffff;">
                    {% csrf_token %}
                
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email address:</label>
                        <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.dob.id_for_label }}">Dob:</label>
                        <input type="text" class="form-control" id="{{ form.dob.id_for_label }}" name="{{ form.dob.html_name }}" value="{{ form.dob.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.matric_num.id_for_label }}">Matric num:</label>
                        <input type="text" class="form-control" id="{{ form.matric_num.id_for_label }}" name="{{ form.matric_num.html_name }}" value="{{ form.matric_num.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.sex.id_for_label }}">Sex:</label>
                        <input type="text" class="form-control" id="{{ form.sex.id_for_label }}" name="{{ form.sex.html_name }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.faculty.id_for_label }}">Faculty:</label>
                        <input type="text" class="form-control" id="{{ form.faculty.id_for_label }}" name="{{ form.faculty.html_name }}" value="{{ form.faculty.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.department.id_for_label }}">Department:</label>
                        <input type="text" class="form-control" id="{{ form.department.id_for_label }}" name="{{ form.department.html_name }}" value="{{ form.department.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Password:</label>
                        <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" value="{{ form.password1.value|default_if_none:'' }}">
                        <small id="passwordHelp" class="form-text" style="color: #8ecae641;">
                            Your password can’t be too similar to your other personal information.
                            Your password must contain at least 8 characters.
                            Your password can’t be a commonly used password.
                            Your password can’t be entirely numeric.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
                        <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" value="{{ form.password2.value|default_if_none:'' }}">
                        <small id="passwordConfirmHelp" class="form-text" style="color: #8ecae641;">
                            Enter the same password as before, for verification.
                        </small>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="background-color: #E63946; color: aliceblue;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}