{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
   <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Regstration Page</title>
    <style>
      input:focus,
      button:focus {
        border-color: #fdc500;
        outline: none;
        box-shadow: 0 0 0 2px rgba(194, 191, 11, 0.3);
      }
    </style>
  </head>
  <body
    class="h-screen flex flex-col items-center justify-center dark text-bodydark bg-light pt-20 sm:pt-0"
  >
    <img
      src="{% static 'images/stmadmlg.png' %}"
      alt="Your Logo"
      class="mb-1"
      style="width: 150px; margin-right: 60px"
    />

    <div class="bg-light p-3 rounded-lg shadow-md w-96 sm:mt-8">
        <h1 class="text-xl font-bold mb-4 text-center text" style="color: #00296B;">Sign Up for Dashboard</h1>
        <form method="POST" class="form-container">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="bg-red-500 text-white p-2 mb-4 rounded">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
    
            <!-- Username Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-user absolute left-2 top-5 text-gray-400"></i>
                <input type="text" name="{{ form.username.name }}" placeholder="Username" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.username.errors %}
                <div class="text-sm text-red-500">
                    {{ form.username.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Email Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-envelope absolute left-2 top-5 text-gray-400"></i>
                <input type="email" name="{{ form.email.name }}" placeholder="Email" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.email.errors %}
                <div class="text-sm text-red-500">
                    {{ form.email.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Department Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-user-graduate absolute left-2 top-5 text-gray-400"></i>
                <input type="text" name="{{ form.department.name }}" placeholder="Department" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.department.errors %}
                <div class="text-sm text-red-500">
                    {{ form.department.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Room ID Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-passport absolute left-2 top-5 text-gray-400"></i>
                <input type="text" name="{{ form.room_id.name }}" placeholder="Room ID" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.room_id.errors %}
                <div class="text-sm text-red-500">
                    {{ form.room_id.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Password Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-fingerprint absolute left-2 top-5 text-gray-400"></i>
                <input type="password" name="{{ form.password1.name }}" placeholder="Password" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.password1.errors %}
                <div class="text-sm text-red-500">
                    {{ form.password1.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Confirm Password Input -->
            <div class="mb-4 relative">
                <i class="fa-solid fa-fingerprint absolute left-2 top-5 text-gray-400"></i>
                <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-10 pr-4 outline-none focus-visible:shadow-none">
                {% if form.password2.errors %}
                <div class="text-sm text-red-500">
                    {{ form.password2.errors }}
                </div>
                {% endif %}
            </div>
    
            <!-- Submit Button -->
            <div class="mb-5">
                <button type="submit" class="w-full cursor-pointer rounded-lg border p-4 font-medium text-white transition hover:bg-opacity-90" style="background-color: #00296B;">Sign Up</button>
            </div>
        </form>
        <div class="mt-6 text-center">
            <p class="font-medium text-bodydark2">
              Signed up already?
              <a href="{% url 'login' %}" class="text" style="color: #00296B;">Sign In</a>
            </p>
          </div>
    </div>
    
    </div>
  </body>
</html>
