@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
}


.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 93vh;
    padding: 0 1.7rem;
    color: rgba(29, 53, 87, 1);
    overflow: hidden;
    transition: all 0.5s linear;
    background: #fff;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}


.sidebar:hover{
    width: 240px;
    transition: 0;
}

.logo{
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.logo img{
    height: 70px;
    align-items: center;
    margin-right: 30px;
    max-width: 100px;
}

.menu {
    height: 80%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, 
.active {
    background: #FB8500;
}

.menu a {
    color: #1D3557;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* main body section design */
.main-content{
    position: relative;
    background: #EAF0F8;
    width: 100%;
    padding: 1rem;
}


.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 3px 1rem;
    margin-bottom: 10px;
}

.header-title {
    color: rgba(29, 53, 87, 1);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}




form button {
    padding: 10px 20px;
    background-color: #1D3557;
    color: #D5E1F1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #123456;
}

.detail-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-bottom: 10px; 
}

.detail-title {
    font-weight: bold;
    margin-bottom: 5px; 
    color: #FB8500;
    padding: 5px 5px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

form select, form input[type="text"] {
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background-color: #EAF0F8;
    border: 1px solid #EAF0F8;
    box-shadow: 0 0 5px rgba(2, 88, 168, 0.358);
}


form textarea {
    width: 40%; 
    padding: 10px;
    border: 1px solid #1D3557;
    border-radius: 5px;
    background-color: #EAF0F8;
    border: 1px solid #EAF0F8;
    box-shadow: 0 0 5px rgba(2, 88, 168, 0.358);
}