<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Stama {% endblock title %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color: #ffffff;">
    <header class="p-3 mb-3 border-bottom">
        <div class="d-flex align-items-center justify-content-between">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="https://i.ibb.co/m4fWbc8/stama-high-resolution-logo-color-on-transparent-background-1.png" alt="logo" style="width: 100px; height: 60px;">
            </a>
            
            {% if user.is_authenticated %}
            <div class="text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="color: #E63946;">
                    {{ user.username }} 
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Change password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li> 
                </ul>
            </div>
            {% else %}
            <div></div>
            {% endif %} 
        </div>
    </header>
    


    <main>
        {% block content %}


        {% endblock content %}
    </main>
    
</body>
</html>